# build output
.output/
dist/

# turborepo
.turbo/

# dependencies
node_modules/

# vite
.vite/

# tanstack router
src/routeTree.gen.ts

# logs
npm-debug.log*
bun-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
